<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>381774088854-gsb0186jagusjvi1v0pbjaa3kf4i2fjo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.381774088854-gsb0186jagusjvi1v0pbjaa3kf4i2fjo</string>
	<key>API_KEY</key>
	<string>AIzaSyB7up2OZGiFRFXXYFoKGS-O1dq_JD99NR4</string>
	<key>GCM_SENDER_ID</key>
	<string>381774088854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carloschfa.zuber</string>
	<key>PROJECT_ID</key>
	<string>zuber-ef52b</string>
	<key>STORAGE_BUCKET</key>
	<string>zuber-ef52b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381774088854:ios:6a3ff44d208a42cd7110b7</string>
	<key>DATABASE_URL</key>
	<string>https://zuber-ef52b.firebaseio.com</string>
</dict>
</plist>